@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 90%;
}

html, body, #root {
  background-color: #0C0C0C;
  font-family: 'Kanit', sans-serif;
  color: #D7E2EA;
}

a {
  color: #D7E2EA;
  text-decoration: none;
}

.titulo-gradiente {
  background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.animacao-flutuacao {
  animation: float 5s ease-in-out infinite;
  will-change: transform;
}

@keyframes float {
  0% { transform: translate3d(0, 0, 0); }
  33% { transform: translate3d(15px, -20px, 0); }
  66% { transform: translate3d(-15px, 20px, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
